<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.1.8321.0">
	<loadBalancingConfig>
		<redisSettings ConnectionString="b64KdapupJA96C88KpWun5bkR1EK9JHdkAzCaOjHOs4=@todelsitefinityredis.redis.cache.windows.net?ssl=true" />
	</loadBalancingConfig>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
	</typeImplementationsMapping>
</systemConfig>